{#
SPDX-FileCopyrightText: 2023 Slavi Pantaleev
SPDX-FileCopyrightText: 2025 Suguru Hirahara

SPDX-License-Identifier: AGPL-3.0-or-later
#}

{% if meilisearch_container_labels_traefik_enabled %}
traefik.enable=true

{% if meilisearch_container_labels_traefik_docker_network %}
traefik.docker.network={{ meilisearch_container_labels_traefik_docker_network }}
{% endif %}

{% set middlewares = [] %}

{% if meilisearch_container_labels_traefik_path_prefix != '/' %}
traefik.http.middlewares.{{ meilisearch_identifier }}-slashless-redirect.redirectregex.regex=^({{ meilisearch_container_labels_traefik_path_prefix | quote }})$
traefik.http.middlewares.{{ meilisearch_identifier }}-slashless-redirect.redirectregex.replacement=${1}/
{% set middlewares = middlewares + [meilisearch_identifier + '-slashless-redirect'] %}
{% endif %}

{% if meilisearch_container_labels_traefik_path_prefix != '/' %}
traefik.http.middlewares.{{ meilisearch_identifier }}-strip-prefix.stripprefix.prefixes={{ meilisearch_container_labels_traefik_path_prefix }}
{% set middlewares = middlewares + [meilisearch_identifier + '-strip-prefix'] %}
{% endif %}

{% if meilisearch_container_labels_traefik_additional_request_headers.keys() | length > 0 %}
{% for name, value in meilisearch_container_labels_traefik_additional_request_headers.items() %}
traefik.http.middlewares.{{ meilisearch_identifier }}-add-request-headers.headers.customrequestheaders.{{ name }}={{ value }}
{% endfor %}
{% set middlewares = middlewares + [meilisearch_identifier + '-add-request-headers'] %}
{% endif %}

{% if meilisearch_container_labels_traefik_additional_response_headers.keys() | length > 0 %}
{% for name, value in meilisearch_container_labels_traefik_additional_response_headers.items() %}
traefik.http.middlewares.{{ meilisearch_identifier }}-add-response-headers.headers.customresponseheaders.{{ name }}={{ value }}
{% endfor %}
{% set middlewares = middlewares + [meilisearch_identifier + '-add-response-headers'] %}
{% endif %}

traefik.http.routers.{{ meilisearch_identifier }}.rule={{ meilisearch_container_labels_traefik_rule }}
{% if meilisearch_container_labels_traefik_priority | int > 0 %}
traefik.http.routers.{{ meilisearch_identifier }}.priority={{ meilisearch_container_labels_traefik_priority }}
{% endif %}
traefik.http.routers.{{ meilisearch_identifier }}.service={{ meilisearch_identifier }}
{% if middlewares | length > 0 %}
traefik.http.routers.{{ meilisearch_identifier }}.middlewares={{ middlewares | join(',') }}
{% endif %}
traefik.http.routers.{{ meilisearch_identifier }}.entrypoints={{ meilisearch_container_labels_traefik_entrypoints }}
traefik.http.routers.{{ meilisearch_identifier }}.tls={{ meilisearch_container_labels_traefik_tls | to_json }}
{% if meilisearch_container_labels_traefik_tls %}
traefik.http.routers.{{ meilisearch_identifier }}.tls.certResolver={{ meilisearch_container_labels_traefik_tls_certResolver }}
{% endif %}

traefik.http.services.{{ meilisearch_identifier }}.loadbalancer.server.port={{ meilisearch_container_http_port }}
{% endif %}

{{ meilisearch_container_labels_additional_labels }}
